@import "../variables.scss";
@import "../globels/mixins";
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-border {
  border: 0;
  outline: 0;
}

.shadow {
  filter: drop-shadow (var(--forth-shadow));
  text-shadow: var(--forth-shadow);
}

.box-shadow {
  box-shadow: var(--main-shadow);
}
.btn {
  @extend .remove-border;
  text-shadow: var(--forth-shadow);
  box-shadow: var(--forth-shadow);
  color: rgb(247, 246, 246);
  white-space: nowrap;
  padding: clamp(6px, 1vw, 8px) clamp(10px, 1.2vw, 12px);
  font-weight: bold;
  letter-spacing: 1px;

  font-size: clamp(11px, 1.1vw, 16px);
  // border-radius: 4px 10px;
  text-transform: capitalize;
  background-color: transparent;

  svg {
    path {
      filter: drop-shadow(var(--forth-shadow));
    }
  }
  &.about {
    border: var(--third) solid 1.5px;
    color: var(--third) !important;
    transition: 0.3s;
    &:hover {
      background: var(--third);
      color: var(--main) !important;
    }
  }
  &.main {
    background: var(--green);
    &.border {
      border: 1.5px solid var(--green);
    }
  }
  &.main-outline {
    transition: 0.3s;
    border: 1.5px solid var(--green);
    &:hover {
      background: var(--green);
      color: white !important;
    }
  }
  &.cancel-outline {
    transition: 0.3s;
    border: 1.5px solid var(--third);
    color: grey !important;
    &:hover {
      background: var(--third);
      color: var(--main) !important;
    }

    &.transparent {
      background: transparent;
    }
  }
}

.inp {
  @extend .remove-border;
  padding: 8px;
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  box-shadow: var(--secondary-shadow);
}

.or {
  width: 80%;
  height: 0.5px;
  color: white;
  background: grey;
  margin: 0 auto;
  margin: 10px;
  span {
    background: #040404;
    position: relative;
    top: -4px;
    display: inline-block;
    width: fit-content;
    height: 10px;
    padding: 0 4px;
  }
}

.detail {
  display: inline-block;
  width: 80px;
  text-align: end;
  white-space: nowrap;
  margin-right: 4px;
}
.value {
  display: inline-block;
  width: 200px;
  text-align: start;
  white-space: nowrap;
}

.hr {
  width: 95%;
  height: 1px;
  background: grey;
  margin: 0 auto;
  opacity: 0.6;
}

.overley {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--overley);
  z-index: 10;
}

.between {
  justify-content: space-between;
}

.show-count {
  position: absolute;
  top: -4px;
  right: -6px;
  width: 1rem;
  height: 1rem;
  padding: 6px;
  font-weight: bold;
  font-size: 0.8rem;
  background: var(--gmail);
  color: var(--white);
  border-radius: 50%;
}

.remove {
  background: var(--delete);
}

.w-100 {
  width: 100% !important;
}
.w-80 {
  width: 80% !important;
}
.col {
  flex-direction: column;
  gap: 4px;
}

.row {
  flex-direction: row;
}

.highlight {
  background: var(--wheat);
  background: wheat;
}

.start {
  align-items: flex-start;
}

.counter {
  // padding: 0;
  height: 30px !important;
  &.green {
    color: var(--green);
  }

  &.red {
    color: var(--red);
  }
}

.header {
  @include kyiv(600, -400);
  filter: drop-shadow(var(--forth-shadow));
}
.underline {
  width: fit-content;
  height: 60px;
  font-size: 2rem;
  margin: 30px auto;
  margin-bottom: 40px;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-weight: 800;
  position: relative;
  color: var(--third);
  &:before {
    content: "";
    clip-path: polygon(0 5%, 100% 37%, 100% 64%, 0 95%);
    position: absolute;

    top: 40px;
    left: 0;
    height: 6px;
    width: 100%;
    background: linear-gradient(60deg, var(--wheat), var(--green));
  }
}

.header-sm {
  font-size: 1.4rem;
  position: relative;
  &.underline-sm {
    width: fit-content;
    height: fit-content;

    &:before {
      content: "";
      top: initial;
      bottom: -6px;
      left: 0;
      height: 2px;
    }
  }
}
.white {
  color: var(--main);
}

.wheat-light {
  background: var(--wheat-light);
}

.wheat {
  background: var(--wheat);
}

.new {
  background: var(--new);
}
.sale {
  background: var(--sale);
}

.trending {
  background: var(--trending);
}
.exclusive {
  background: #000;
}
.limited {
  background: var(--twitter);
}

.reset-filter {
  margin-top: 20px;
  background: linear-gradient(30deg, var(--delete), var(--wheat));
}

.gap {
  gap: 5px;
}

.relative {
  position: relative;
}

.title-par {
  display: inline-flex;
}
.custom-title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @extend .shadow;
  font-weight: bold;
  text-transform: lowercase;
  position: absolute;
  top: 115%;
  width: fit-content;
  padding: 4px 6px;
  background: var(--wheat-light);
  color: var(--white) !important;
  z-index: 10;
  white-space: nowrap;
  border-radius: 4px;
  letter-spacing: 0.8px;
  height: 20px;
  font-size: 0.8rem;
  box-shadow: 0.5px 0.5px 1px black;
  text-transform: capitalize;
  &.right {
    right: 0;
  }
  &.left {
    left: 0;
  }
}
.MagnifierContainer {
  z-index: 100;
}

.MagnifierPreview {
  z-index: 2;
}

.icon {
  font-size: 1rem;
  filter: drop-shadow(var(--forth-shadow));
  &.icon-shadow {
    filter: drop-shadow(var(--third-shadow));
  }
}

.no-data {
  width: 100%;
  height: 70%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--third);
  letter-spacing: 1px;
}

.above {
  position: relative;
  z-index: 5;
}

.faq {
  section:last-child {
    border: none;
  }
  > * {
    padding: 20px;
    padding-bottom: 0;
    box-shadow: 1px 1px 5px black;
    max-width: 700px;
  }
}

.continue-shopping {
  position: absolute;
  top: 0px;
  left: 5px;
  background: linear-gradient(30deg, var(--wheat), var(--sale));
  margin-top: 20px;

  svg {
    font-size: 1.4rem;
  }
}

form {
  &.hide {
    opacity: 0;
    & > * {
      opacity: 0;
    }
    input,
    textarea {
      padding-right: 20px;
      background-color: var(--main);
      box-shadow: var(--third-shadow);
      border-radius: 5px;
      color: var(--third);
    }
  }
}
.h-80 {
  width: 100%;
  min-height: 80vh;
}

.nodata-w-80 {
  width: 80%;
  min-height: 80vh;
}
.h-50 {
  width: 100%;

  min-height: 50vh;
}
p,
span,
small {
  @include kyiv(600, -400);
}

.gmail {
  color: var(--gmail);
  background-color: var(--gmail);
}
.delete {
  color: var(--delete);
  background-color: var(--delete);
}
.fb {
  color: var(--fb);
  background-color: var(--fb);
}
.green-clr {
  color: var(--green);
  background-color: var(--green);
}
.end {
  justify-content: flex-end;
}

.details-btn {
  box-shadow: initial;
  outline: 0;
  background-color: transparent;
  border: 0;
  font-size: 0.8rem;
  width: fit-content;
  padding: 0;
}

.no-data-80 {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
