@import "../variables.scss";
@import "../globels/mixins";

@font-face {
  font-family: "Fexien Sans";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2");
  font-weight: 400 1000;
  font-display: swap;
}

@font-face {
  font-family: "Kyiv Sans";
  src: url("fonts/Kyiv-sans.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}

* {
  // font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include fexien(100);
  overflow-x: hidden;
  background-color: var(--main);
}
@media (max-width: 600px) {
  :root {
    font-size: 10px;
  }
}

a {
  text-decoration: none;
}

@media (min-width: 600px) {
  :root {
    font-size: 12px;
  }
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--green);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background: var(--wheat);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
