:root {
  // --green: #4a8b64;
  --green: #367e53;
  --wheat: rgb(202, 170, 109);
  --wheat-light: #c5af87c9;
  --wheat-lighter: #dcccaec9;
  --white: rgb(247, 246, 246);
  --twitter: #1da1f2;
  --fb: #1877f2;
  --gmail: #ea4335;
  --delete: #751d15;
  --light-text: rgba(113, 109, 109, 0.738);
  --overley: rgba(19, 78, 26, 0.423);
}
