@import "../variables.scss";

.banner-par {
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(135deg, var(--main), grey);
  .banner {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .background {
      position: absolute;
      top: 0;
      right: 0;
      clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
      height: 100%;
      width: 50%;
    }

    .banner-image {
      display: flex;
      max-width: 500px;
      width: 45vw;
      justify-content: center;
      height: 100%;
      margin-left: 20px;
      margin-top: 20px;

      img {
        object-fit: cover;
        height: 80%;
        max-width: 300px;
        filter: drop-shadow(4px 10px 5px black);
      }
    }
  }
}

.banner-btn {
  display: inline-flex;
  height: 25px;
  align-items: center;
}
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin-left: 10px;

  h1 {
    letter-spacing: 1px;
    white-space: nowrap;
    text-shadow: 0.4px 0.5px 1px black;
    font-size: 1.8rem;
    color: var(--green);
  }
  p {
    color: var(--secondary);
    letter-spacing: 0.1rem;
    text-shadow: 0.2px 0.1px 1px black;
    font-size: 1.2rem;
    width: 90%;
    padding: 4px;
    text-align: center;
    &::first-letter {
      color: var(--wheat);
    }
  }
}

.banner-dots-par {
  position: absolute;
  // width: 100px;
  width: 100%;
  bottom: 5px;
  // left: 50%;
  // transform: translateX(-50%);
  .banner-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1.5px solid var(--main);
    background: var(--secondary);
    margin: 4px;
    border-radius: 50%;
    opacity: 0.4;
    &.active {
      opacity: 1;
    }
  }
}

@media (max-width: 700px) {
  .banner-par .banner .background {
    clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
  }
}
