@import "../variables.scss";

.banner-par {
  width: 95vw;
  height: calc(100vh - 80px);
  margin: 0 auto;
  margin-top: 50px;
  display: flex !important;
  align-items: flex-start;

  .banner {
    width: 100%;
    max-width: 1000px;
    height: calc(100vh - 100px);
    margin: 0 auto;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 20px;
    .banner-image {
      max-width: 40%;
      display: flex !important;
      justify-content: flex-end !important;
      align-items: center !important;
      align-self: flex-end;
      height: 100%;
    }
  }
}

.banner-btn {
  display: inline-flex;
  align-items: center;
}

.banner-content {
  width: 48%;
  text-shadow: var(--forth-shadow);
  // padding: 10px 20px;
  max-width: 480px;
  padding: 0.2vw;
  gap: 10px;
  letter-spacing: 0.1vw;
  .product-links {
    background-color: transparent;
    align-self: flex-start;
  }
  h1 {
    width: 100%;
    font-size: 4.2vw;
    letter-spacing: 0.25vw;
    text-align: justify;
    color: var(--green);
    font-weight: 600;
    text-transform: capitalize;
    font-family: "PT Sans", sans-serif;
    line-height: 4.5vw;
  }
  p {
    color: var(--third);

    font-size: 1rem;
    width: 100%;
    text-transform: lowercase;
    // letter-spacing: clamp(0.3px, 0.015vw, 1.4px);
    &::first-letter {
      font-size: inherit;
      font-weight: normal;
      color: inherit;

      margin: 0;
      // text-transform: capitalize;
    }
  }
}
.banner-dot {
  z-index: 4;
}
.background {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 270px;
  width: 100%;
  z-index: -1;
  clip-path: polygon(19% 61%, 100% 75%, 100% 100%, 0 100%, 0 75%);
  background: var(--wheat-lighter);
  opacity: 0.3;
}
// @media (max-width: 700px) and (min-width: 500px) {
//   .banner-par {
//     .banner {
//       // width: 95%;

//       .banner-image {
//         img {
//           // object-fit: cover;
//           // height: 300px;
//         }
//       }
//       .banner-content {
//         // h1 {
//         //   font-size: 3.4vw;
//         // }
//         p {
//           // letter-spacing: 0.6px;
//         }
//       }
//     }
//   }
// }

@media (max-width: 499px) {
  .banner-par {
    width: 100%;
    // margin: 0;
    // padding: 0;
    // overflow: hidden;
    .banner {
      gap: 6vh;
      width: 95%;
      max-width: initial;
      flex-direction: column;
      justify-content: space-between !important;
      align-items: center !important;
      margin: 0 auto;
      margin-top: 50px;
      .banner-image {
        max-width: 95vw;

        align-items: center !important;
        margin: 0 auto;

        img {
          object-fit: cover;
          height: 250px;
        }
      }
      .banner-content {
        width: 100%;
        align-self: initial;
        margin: 0 auto;
        padding: 0;
        margin: 0;
        h1 {
          font-size: 9vw;
          letter-spacing: 0.3vw;
          line-height: 9vw;
        }
        p {
          font-size: 1.2rem;
        }
        .product-links {
          flex-direction: column;
          width: 100%;
          gap: 10px;
          button {
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .title-par {
            width: 100% !important;
          }
          a {
            width: 100% !important;
            text-align: center;
            span {
              width: 100% !important;
              span {
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
}
