@import "../variables.scss";

.cart-cont {
  width: 100%;
  min-width: 0 auto;
  margin-top: 50px;
  gap: 4px;
  padding: 4px;
  .carts-par {
    // margin: 0 5%;
    width: 70%;
    gap: 4px;
    align-self: flex-start;
    .cart-content {
      gap: 10px;
      align-items: flex-start;
      .cart-detail {
        display: inline-block;
        font-weight: bold;
        letter-spacing: 1px;
        color: var(--green);
        text-transform: capitalize;
        width: 60px;
        margin-right: 4px;
        text-align: end;
      }
      .cart-value {
        letter-spacing: 0.8;
        color: var(--wheat);
      }
    }
    .cart-item {
      width: 100%;
      height: 120px;
      background: var(--white);
      box-shadow: 1px 0.5px 2px black;
      padding: 8px;

      .cart-img {
        width: 80px;
      }
    }
  }
}
.totel-price {
  padding: 25px 0;
  background: var(--sale);
  width: 25%;
  height: 200px;
  align-self: flex-start;
  border-start-start-radius: 5px;
  color: var(--white);
  letter-spacing: 0.8px;
  > * {
    font-weight: bold;
  }
}

.offer-cart {
  width: 100%;
  gap: 3px;
  .head {
    background: var(--wheat-light);
    border-radius: 4px;
    padding: 4px 8px;
    width: 70%;
    align-self: flex-start;
  }
}

.disable-check {
  position: a;
}

.order-details {
  gap: 10px;
  padding: 2vw;
}

.free-par {
  position: relative;
  width: fit-content;
  .free {
    position: absolute;
    bottom: 70%;
    right: 100%;
    color: var(--star);
    text-transform: capitalize;
    transform: scale(0.75);
  }
  .free-line {
    display: block;
    height: 2px;
    background: var(--delete);
    position: absolute;
    top: 2px;
    right: 45%;
    transform-origin: 100% 0%;
    transform: rotate(-20deg);
  }
}

.order-val {
  display: inline-block;
  width: 50px;
  text-align: start;
}
@media (max-width: 700px) {
  .cart-cont {
    // .carts-par {
    //   margin: 0;
    // }
    .totel-price {
      width: 28%;
    }
  }
}
