@import "../variables.scss";

.cart-cont {
  width: 100%;
  margin-top: 50px;
  gap: 4px;
  padding: 8px;
  .carts-par {
    width: 65%;
    gap: 4px;
    align-self: flex-start;
    min-height: 50vh;
    .cart-content {
      gap: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: flex-start;

      .cart-detail {
        display: inline-block;

        display: inline-block;
        font-weight: bold;
        letter-spacing: 1px;
        color: var(--green);
        text-transform: capitalize;
        width: 80px;
        margin-right: 4px;
        text-align: end;
        font-size: 0.8rem;
      }
      .cart-value {
        display: inline-block;
        letter-spacing: 0.7;
        color: var(--wheat);
        font-size: 0.8rem;
      }
    }
    .cart-item {
      width: 100%;
      height: 130px;
      background: var(--main);
      box-shadow: var(--secondary-shadow);
      padding: 8px;
      position: relative;
      .remove-cart {
        position: absolute;
        top: 5px;
        left: 8px;
        font-size: 0.7rem;
        padding: 4px 6px;
      }
      .more-details {
        margin: 10px 0;
        align-self: center;
      }
      .buy {
        background: var(--wheat-lighter);
      }

      .cart-img {
        width: 80px;
      }
    }
  }
}
.totel-price {
  padding: 25px 0;
  background: var(--sale);
  width: 30%;

  align-self: flex-start;
  border-start-start-radius: 5px;
  color: var(--main);
  letter-spacing: 0.8px;
  > * {
    font-weight: bold;
  }
  .total-cost {
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-top: 5px;
    font-weight: cold;
    color: white;
    margin-bottom: -8px;
  }
}

.offer-cart {
  width: 100%;
  gap: 3px;
  .head {
    background: var(--wheat-light);
    border-radius: 4px;
    padding: 4px 8px;
    width: 65%;
    align-self: flex-start;
    box-shadow: var(--forth-shadow);
  }
}

.order-details {
  gap: 10px;
  padding: 2vw;
  color: var(--white);
}

.free-par {
  position: relative;
  width: fit-content;
  .free {
    position: absolute;
    bottom: 70%;
    right: 100%;
    color: var(--star);
    text-transform: capitalize;
    transform: scale(0.75);
  }
  .free-line {
    display: block;
    height: 2px;
    background: var(--delete);
    position: absolute;
    top: 2px;
    right: 45%;
    transform-origin: 100% 0%;
    transform: rotate(-20deg);
  }
}

.order-val {
  display: inline-block;
  width: 80px;
  text-align: start;
}

.cart-btns {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 0.7rem;
  > * {
    padding: 4px 6px;
    font-size: 0.6rem;
  }
  button {
    box-shadow: initial;
    svg {
      fill: var(--third);
    }
    &.cart-remove {
      svg {
        fill: var(--delete);
      }
    }
  }
}
@media (max-width: 650px) {
  .cart-cont {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;

    h3.head {
      width: 100%;
    }
    .cart-data {
      flex-direction: column;

      gap: 20px;
    }
    .carts-par {
      width: 100%;
    }
    .totel-price {
      position: initial;
      top: initial;
      right: initial;
      width: 100%;
      font-size: 1.2rem;
      padding: 25px;
    }
  }
}

.checkout {
  background: #000;
}

.btn-buy {
  background-color: var(--secondary) !important;
}
