.counter-par {
  width: fit-content;
  height: 30px;
  justify-content: flex-start;
  background: rgba(128, 128, 128, 0.162);
  box-shadow: 0.2px 0.1px 1px black;
  button {
    background: inherit;
    height: 100%;
    border-radius: 0;
    width: 20px;
    text-shadow: 0 0 0 transparent;
  }

  .count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    color: var(--secondary);
    height: 100%;
    background: var(--main);
    overflow: hidden;
  }
}
