@import "../variables.scss";

.custom-check-parent {
  background: rgba(117, 111, 111, 0.8);
  border-radius: 2px;
  width: 12px;
  height: 12px;
  box-shadow: var(--forth-shadow);
  .custom-check {
    width: fit-content;
    background: var(--third);
    border-radius: 2px;
  }
}

.circle-check-parent {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--green);
}
