.custom-check-parent {
  background: rgba(93, 92, 92, 0.424);
  border: var(--wheat) 1px solid;
  border-radius: 2px;
  width: 12px;
  height: 12px;

  .custom-check {
    width: fit-content;
    background: green;
    border-radius: 2px;
  }
}
