@import "../variables.scss";

.dashboard-par {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
#dash-aside {
  position: relative;
  box-shadow: 2px 2px 5px black;
  height: calc(100vh - 40px);
  background: var(--wheat-lighter);
  background: var(--white);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 20px;
  overflow: hidden;
  padding: 0;
  .dash-close {
    position: absolute;
    top: 15px;
    right: 5px;
    color: var(--gmail);
    svg {
      font-size: 2rem;
    }
  }

  .underline {
    &:before {
      background: var(--wheat);
      top: 120%;
    }
  }
  a {
    text-decoration: none;
    color: grey;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 10px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
    &.active,
    &:hover {
      background: var(--green);
      color: var(--white);
      font-weight: bold;
    }
  }
}

.dash-product {
  padding: 10px;
  //   .header {
  //     width: fit-content;
  //     margin: 0;
  //   }
}

.dash-show {
  position: absolute;
  top: 50px;
  right: 10px;
  color: var(--green);
  svg {
    font-size: 2rem;
  }
}

form.update-product-form {
  width: 80%;
  max-width: 600px;
  background: #000;
  margin: 0 auto;
  padding: 20px;
  gap: 30px;
  input {
    padding-right: 20px;
  }
}

textarea.update-product {
  width: 100%;
  height: 80px;
}

.progressbar {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  // right: 0;
  // margin: 0;
}
.CircularProgressbar {
  width: fit-content !important;
}
