@import "../variables.scss";

.dashboard-par {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
}
#dash-aside {
  position: fixed;
  height: 100vh;
  align-self: flex-start;
  top: 0;
  left: 0;
  background: var(--secondary);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 20px;
  overflow: hidden;
  padding: 0;
  color: white;
  box-shadow: var(--third-shadow);

  a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 10px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
    &.active,
    &:hover {
      background: var(--green);
      font-weight: bold;
      // transition: 0.4s;

      color: white;
    }
    &:hover:not(&.active) {
      background-color: #367e5348;
    }
  }
}

.dash-product {
  min-height: calc(100vh);
  height: max-content;
  margin: 0 auto;
  position: relative;
  margin-bottom: 45px !important;
  .header {
    margin: 10px auto;
  }
}

.dash-show {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  .green {
    color: var(--green);
  }
  .red {
    color: var(--delete);
  }

  svg {
    font-size: 2rem;
    position: relative;
    z-index: 10;
  }
}

form.update-product-form {
  width: 80%;
  max-width: 600px;
  background: var(--secondary);
  margin: 0 auto;
  padding: 30px;
  gap: 30px;
  input {
    padding-right: 20px;
    box-shadow: var(--secondary-shadow);
    background-color: var(--main);
    border-radius: 4px;
    color: var(--third);
  }
}

textarea.update-product {
  width: 100%;
  height: 80px;
  box-shadow: var(--secondary-shadow);
  background-color: var(--main);
  border-radius: 4px;
  color: var(--third);
}

.progressbar {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.CircularProgressbar {
  width: fit-content !important;
}

.dash-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 5px;
  & > div {
    width: 100% !important;
  }
}

.crumbs {
  display: flex;
  gap: 6px;
  margin-left: 10px;

  align-items: center;
  position: absolute;
  top: 10px;
  left: 20px;
  .crumbs-line {
    margin: 10px;

    background-color: var(--wheat-light);
    font-weight: 900;
    width: 2px;
    height: 20px;
    border-radius: 2px;
  }
}
a.crumb-link {
  display: inline-block;
  width: fit-content;
  padding: 4px;
  color: var(--green);
  font-weight: bold;
  text-transform: capitalize;
}

.dash-recap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  margin-bottom: 80px;
  .recap {
    background: var(--secondary);
    height: 120px;
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--main-shadow);

    justify-content: space-between;
    border-radius: 2px;
    .head-recap {
      text-transform: capitalize;

      h3 {
        color: black;
        text-shadow: var(--forth-shadow);
        letter-spacing: 1px;
        padding: 0;
        margin: 0;
      }
    }
    .percent-negative {
      color: var(--gmail);
      font-weight: bold;
    }
    .percent-pos {
      color: var(--green);
      font-weight: bold;
    }
    .analytics {
      font-weight: bold;
      font-size: 22px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      h3 {
        font-size: 10px;
        letter-spacing: 1px;
        opacity: 0.4;
        padding: 0;
        text-shadow: var(--forth-shadow);
        margin: 0;
      }
    }
    .links-recap {
      a {
        text-transform: capitalize;
        color: #336699;
        font-weight: bold;
        font-size: 10px;
        text-decoration: none;
      }
      svg {
        font-size: 1.3rem;
        color: white;
      }
    }
  }
}

.dash-main-charts {
  display: grid;
  margin-top: 20px;
  gap: 30px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  .chart-par {
    background: var(--secondary);
    padding: 20px;
    width: 100%;
    border-radius: 2px;
    box-shadow: var(--main-shadow);
    height: 400px;

    h3 {
      color: white;
      font-size: 1.4rem;
      letter-spacing: 1px;
      margin-bottom: 25px;
    }
  }
}

.dash-aside-head {
  background-color: var(--main);
  opacity: 0.8;
  a:hover {
    background: transparent !important;
  }
}

.aside-dash-label {
  color: var(--wheat-light);
  font-size: 1.2rem;
  padding: 6px;
  margin-left: 10px;
  margin-top: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

div.dash-nav {
  position: absolute;
  top: 10px;
  right: 12px;
  gap: 12px;
  z-index: 5;
}

.notifications {
  height: 300px;
  width: 250px;
  z-index: 10;
  top: 25px;
  background: var(--main);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  overflow: auto;
  .notification-btns {
    > * {
      button {
        transition: 0.3s;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        color: var(--third);
        text-shadow: var(--secondary-shadow);
      }
    }
  }
  .notification {
    background: var(--secondary);
    box-shadow: 0.2px 0.2px 0.5px black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
    height: 40px;
    color: var(--white);
    .content {
      width: 90%;
      align-self: flex-start;
      font-size: 0.7rem;
      line-height: 0.8rem;
      letter-spacing: 0.8px;
    }
    .time {
      font-size: 0.6rem;
      color: var(--twitter);
      font-weight: bold;
    }
    .dots {
      position: absolute;
      top: 4px;
      right: 2px;
      color: var(--wheat-light);
    }
    .is-read {
      display: inline-block;
      width: 5px;
      height: 5px;
      background-color: var(--twitter);
      border-radius: 50%;
      position: absolute;
      right: 4px;
      bottom: 10%;
    }
  }
}

.notification-btns {
  button {
    background-color: transparent;
    padding: 0px 4px;
    font-size: 8px;
    border: 0;
  }
}

@media (max-width: 650px) {
  .notifications {
    bottom: 0px;
    top: initial;
  }

  .dash-aside-close {
    position: absolute;
    top: 20px;
    right: 10px;
    transform: translate(-50%, -50%);
    color: var(--delete);
    z-index: 10;
    svg {
      transform: scale(1.5);
      path {
        font-size: 40px !important;
      }
    }
  }
  #dash-aside {
    z-index: 100;
    border-radius: initial;
  }
  form.update-product-form {
    width: 80vw;
  }
}
