@import "../variables.scss";

.dashboard-par {
  width: 100%;
  // margin-top: 40px;
  display: flex;
}
#dash-aside {
  position: fixed;
  box-shadow: 2px 2px 5px black;
  height: 100vh;
  background: var(--main);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 20px;
  overflow: hidden;
  padding: 0;
  .dash-close {
    position: absolute;
    top: 15px;
    right: 5px;
    color: var(--gmail);
    svg {
      font-size: 2rem;
    }
  }

  .underline {
    &:before {
      background: var(--wheat);
      top: 120%;
    }
  }
  a {
    text-decoration: none;
    color: var(--secondary);
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 10px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
    &.active,
    &:hover {
      background: var(--green);
      font-weight: bold;
      color: var(--main);
    }
  }
}

.dash-product {
  width: 90%;
  min-height: calc(100vh - 100px);
  position: relative;
}

.dash-show {
  position: absolute;
  top: 40px;
  right: 10px;
  color: var(--green);
  svg {
    font-size: 2rem;
  }
}

form.update-product-form {
  width: 80%;
  max-width: 600px;
  background: #000;
  margin: 0 auto;
  padding: 20px;
  gap: 30px;
  input {
    padding-right: 20px;
  }
}

textarea.update-product {
  width: 100%;
  height: 80px;
}

.progressbar {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  // right: 0;
  // margin: 0;
}
.CircularProgressbar {
  width: fit-content !important;
}

.dash-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 5px;
  // padding: 10px;
  & > div {
    width: 100% !important;
  }
}

.crumbs {
  display: flex;
  gap: 6px;
  margin-left: 10px;
  margin-top: -4px;
}
a.crumb-link {
  display: inline-block;
  width: fit-content;
  padding: 4px;
  color: var(--green);
  font-weight: bold;
  text-transform: capitalize;
}

.dash-recap {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  .recap {
    background-color: var(--secondary);
    height: 100px;
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .head-recap {
      scroll-padding-block: 6px;
      h3 {
        color: gray;
        letter-spacing: 0.8px;
        text-transform: capitalize;
      }
      .percent-negative {
        color: var(--gmail);
        font-weight: bold;
      }
      .percent-pos {
        color: var(--green);
        font-weight: bold;
      }
    }
    .analytics {
      font-weight: bold;
      font-size: 18px;
      color: var(--main);
    }
    .links-recap {
      a {
        text-transform: capitalize;
        color: var(--twitter);
        font-weight: bold;
        font-size: 10px;
        text-decoration: underline;
        text-decoration-color: var(--main) !important
        ;
      }
      svg {
        font-size: 1.5rem;
        color: var(--main);
      }
    }
  }
}

.dash-main-charts {
  padding: 20px;
  display: grid;
  margin-top: 20px;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  .chart-par {
    background-color: var(--secondary);
    padding: 10px;
    width: 100%;
    // height: 350px;
    h3 {
      color: var(--main);
      margin-bottom: 4px;
    }
  }
}

// .recap-items-par {
//   > * {
//     width: 100%;
//     margin: 0 auto;
//   }
// }

.dash-aside-head {
  background-color: var(--secondary);
  a:hover {
    background: transparent !important;
  }
}

.aside-dash-label {
  color: var(--wheat-light);
  font-size: 1.2rem;
  padding: 6px;
  margin-left: 10px;
  margin-top: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

div.dash-nav {
  // width: 100%;
  position: absolute;
  top: 4px;
  right: 4px;
}

.notifications {
  height: 200px;
  width: 180px;
  z-index: 10;
  top: 25px;
  background: var(--main);
  display: flex;
  flex-direction: column;
  gap: 5px;

  .notification {
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 4px;
    height: 40px;
    color: var(--main);
    .content {
      width: 90%;
      align-self: flex-start;
      font-size: 0.75rem;
      line-height: 0.8rem;
      letter-spacing: 0.8px;
    }
    .time {
      font-size: 0.6rem;
      color: var(--twitter);
      font-weight: bold;
    }
    .dots {
      position: absolute;
      top: 4px;
      right: 4px;
      color: var(--wheat-light);
    }
    .is-read {
      display: inline-block;
      width: 5px;
      height: 5px;
      background-color: var(--twitter);
      border-radius: 50%;
      position: absolute;
      right: 4px;
      bottom: 10%;
    }
  }
}

.notification-btns {
  button {
    background-color: transparent;
    padding: 0px 4px;
    font-size: 8px;
    border: 0;
  }
}
