@import "./../variables.scss";

.fav-par {
  position: relative;
  color: black;
  z-index: 8;

  .fav-drop {
    padding: 4px;

    width: 200px;
    height: 200px;
    background: var(--green);
    background: var(--white);
    box-shadow: var(--nav-shadow);
    border-radius: 5px;
    overflow: hidden auto;

    .fav-product {
      box-shadow: 1px 1px 2px black;

      width: 100%;
      height: 60px;
      background: var(--green);
      display: flex;
      justify-content: center;

      .fav-content {
        flex-direction: column;
        width: 60%;
        height: 55px;
        .unsave {
          background: transparent;
          color: var(--delete);
          font-weight: bold;
        }
      }
      .fav-title {
        color: var(--white);
        white-space: nowrap;
        overflow: hidden;
        width: 90%;
        font-size: 0.9rem;
        text-align: center;
        text-overflow: ellipsis;
      }
      .fav-price {
        color: var(--wheat);
        position: relative;
        top: 5px;
      }
      .fav-img {
        width: 70px;
        height: 95%;
        overflow: hidden;

        img {
          width: 50px;
          // height: 100%;
          // object-fit: cover;
          filter: drop-shadow(2px 6px 4px black);
        }
      }
    }

    .product-links {
      .btn {
        background: transparent;
        color: grey;
      }
    }
  }
}
.dropdown {
  position: absolute;
  top: 35px;
  right: -4px;
  border-radius: 5px;
  box-shadow: 0.8px 2px 2px black;
}

.user-drop {
  background: var(--white);
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 0.8rem;
  gap: 0;

  .user-icon {
    background-color: var(--wheat-light);
    border-radius: 4px;
    transition: 0.3s;
  }
  svg {
    color: green;
  }

  .user-drop-img {
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 0.7px;
    font-size: 0.9rem;
    justify-content: flex-start;
    margin-bottom: 4px;
    padding: 0 8px;
  }
}

.user-drop-link {
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s;
  padding: 0 8px;

  &:hover {
    background: var(--wheat-lighter);
    .user-icon {
      background: var(--white);
    }
  }
}
