@import "./../variables.scss";

.fav-par {
  position: relative;
  color: var(--secondary);
  height: 100%;

  .fav-drop {
    padding: 4px;
    width: 350px;
    height: 300px;
    background: var(--main);
    border-radius: 5px;
    overflow: hidden auto;
    color: var(--secondary);
    button {
      box-shadow: initial;
    }
    h3 {
      &.header {
        font-size: 1.4rem;
      }
    }
    .fav-product {
      box-shadow: var(--main-shadow);

      width: 100%;
      height: 80px;
      background: var(--green);
      display: flex;
      justify-content: center;
      button {
        box-shadow: initial;
      }
      .fav-content {
        flex-direction: column;
        width: 60%;
        .unsave {
          background: transparent;
          color: var(--delete);
          font-weight: bold;
        }
      }
      .fav-title {
        color: var(--main);
        white-space: nowrap;
        overflow: hidden;
        width: 90%;
        font-size: 1.1rem;
        text-align: center;
        text-overflow: ellipsis;
      }
      .fav-price {
        color: var(--wheat);
        position: relative;
        top: 5px;
      }
      .fav-img {
        width: 70px;
        height: 95%;
        overflow: hidden;
        z-index: 2;

        img {
          width: 50px;
          // height: 100%;
          // object-fit: cover;
          filter: drop-shadow(2px 6px 4px black);
        }
      }
    }
  }
}
.dropdown {
  position: absolute;
  top: 35px;
  right: -4px;
  border-radius: 5px;
  box-shadow: var(--main-shadow);
  z-index: 3;
}

.user-drop {
  background: var(--main);
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1rem;
  gap: 0;
  padding-top: 4px;
  // z-index: 6;
  text-transform: capitalize;
  letter-spacing: 1px;
  img {
    position: relative;
    z-index: 3;
  }
  .user-icon {
    border-radius: 4px;
    transition: 0.3s;
  }

  .user-drop-img {
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 0.7px;
    font-size: 0.9rem;
    justify-content: flex-start;
    margin-bottom: 4px;
    padding: 0 8px;
    color: var(--third);
  }
}

.user-drop-link {
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s;
  padding: 0 8px;
  color: var(--third);

  &:hover {
    background: var(--wheat-lighter);
  }
}

@media (max-width: 600px) {
  .dropdown {
    &:not(&.user-drop) {
      position: fixed;
      bottom: 0px !important;
      right: 0;
      top: 0;
      left: initial;
      width: 100% !important;
      min-height: calc(100vh) !important;
      z-index: 6 !important;
      border-radius: initial;
    }
  }
}
