@import "../variables.scss";

footer {
  background-color: var(--main);
  padding-bottom: 0;
  padding-top: 20px;
  width: 100%;
  min-height: 60vh;
  box-shadow: 0.5px 0.5px 2px rgba(128, 128, 128, 0.354);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  justify-content: space-between;
  & > * {
    opacity: 0;
  }
  .content {
    padding: 15px;
    display: grid;
    grid-template-columns: minmax(30%, 300px) repeat(3, auto);
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .about-footer {
    margin: 0;
    padding: 0;
    svg {
      // margin-bottom: 10px;
    }

    p {
      width: 80%;
      color: var(--third);
    }
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    &.icons-important-links {
      align-items: center;
    }
    h3 {
      margin-left: 0;
    }
    span {
      width: 100%;
      width: 100%;
      a {
        padding: 6px;
        text-transform: capitalize;
        letter-spacing: 1px;
        color: var(--wheat);
        text-align: start;
        font-weight: bold;
      }
    }
  }
}

.icons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    align-self: center;
  }

  .icon-parent {
    display: inline-flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background: var(--main);
    transition: 0.3s;
    border-radius: 4px;
    text-decoration: none;
    color: var(--third);
    path {
      transition: 0.3s;
      fill: var(--third);
    }

    &:hover {
      background: var(--third);
      path {
        fill: var(--main);
      }
    }
  }
}

.footer-head {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: var(--third);
}

.footer-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.copyright {
  margin-top: 10px;
  color: var(--white);
  height: 60px;
  font-weight: bold;
  background-color: black;
  letter-spacing: 1px;
  font-style: 14px;
  display: flex;
  justify-content: space-between;
  padding: 0 4vw;
  font-size: 1rem;

  white-space: nowrap;
}

.icons-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.pay-par {
  // margin: 4px auto;
  // margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: fit-content;
  text-transform: lowercase;

  img {
    width: 100%;
    max-width: 100px;
    object-fit: contain;
  }
  small {
    font-size: 0.8rem;
  }
}

.social-icons {
  display: flex;
  gap: 10px;
}

@media (max-width: 800px) {
  footer .content {
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
      "about about"
      "category links"
      "social social";
    gap: 30px;
    padding: 0;

    > * {
      margin: 0 20px;
    }

    .footer-links {
      margin-left: 35%;
    }
    .icons-footer {
      grid-area: social;
      width: 100%;
      align-items: center;
      justify-content: center;
      .social-icons {
        gap: 20px;

        .icon-parent {
          width: 30px;
          height: 30px;
        }
      }
      h3 {
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }

    .icons-important-links {
      grid-area: links;
    }
    .footer-category {
      grid-area: category;
    }
    .about-footer {
      grid-area: about;

      p {
        width: 80%;
      }
    }
  }
  .copyright {
    small {
      font-size: 0.7rem;
    }
  }
}
