@import "../variables.scss";

footer {
  background-color: var(--secondary);
  padding-bottom: 0;
  padding-top: 20px;
  width: 100%;
  box-shadow: 0.5px 0.5px 2px rgba(128, 128, 128, 0.354);

  .content {
    padding: 15px;
    display: grid;
    grid-template-columns:
      minmax(40%, 300px) minmax(20%, 100px) minmax(20%, 100px)
      1fr;
  }

  .about-footer {
    svg {
      margin-bottom: 10px;
    }

    p {
      width: 80%;
      color: var(--white);
    }
  }
  .footer-links {
    // grid-area: category;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 30%;
    h3 {
      margin-left: 0;
    }

    a {
      text-transform: capitalize;
      letter-spacing: 1px;
      color: var(--wheat);
      text-align: start;
      width: 100%;
    }
  }
}

.icons-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  // grid-area: social;

  .icon-parent {
    display: inline-flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background: var(--white);
    transition: 0.3s;
    border-radius: 4px;
    path {
      transition: 0.3s;
    }

    &:hover {
      background: var(--secondary);
      path {
        fill: white;
      }
    }
  }
}

.footer-head {
  font-size: 1.3rem;
  margin-bottom: 10px;
  margin-left: 0;
  color: var(--white);
}

.footer-about {
  // grid-area: about;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.copyright {
  margin-top: 10px;
  color: var(--white);
  height: 40px;
  font-weight: bold;
  background-color: black;
  letter-spacing: 1px;
  font-style: 14px;
}

.icons-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
}
@media (max-width: 600px) and (min-width: 401px) {
  footer .content {
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
      "about about"
      "category links"
      "social social";
    gap: 30px;
    padding: 0;

    > * {
      margin: 0 20px;
    }

    .footer-links {
      margin-left: 35%;
    }
    .icons-footer {
      grid-area: social;
      width: 100%;
      align-items: center;
      .social-icons {
        gap: 20px;
        .icon-parent {
          width: 30px;
          height: 30px;
        }
      }
      h3 {
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }

    .icons-important-links {
      grid-area: links;
    }
    .footer-category {
      grid-area: category;
    }
    .about-footer {
      grid-area: about;

      p {
        width: 100%;
      }
    }
  }
}

@media (max-width: 400px) {
  footer .content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    padding: 0;

    > * {
      margin: 0 20px;
      align-items: flex-start;
    }
    .about-footer {
      p {
        width: 100%;
      }
    }
  }
}
