@import "../variables.scss";

.menu-togglar {
  width: 16px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-left: 10px;
  .menu-toggle-span {
    display: inline-block;
    height: 2px;
    border-radius: 4px;
    width: 100%;
    transition: 0.3s 0.2s;
    background: linear-gradient(130deg, var(--wheat-light), grey);
    &.animate {
      transition: 0.3s 0.7s;
    }
    &:nth-child(2) {
      &.animate {
        transform: rotate(-45deg);
        position: relative;
        z-index: 2;
        border-radius: initial;
        background-color: var(--gmail);
      }
    }

    &:nth-child(1) {
      width: 50%;
      align-self: flex-start;
      &.animate {
        transform: rotate(45deg) translate(34%, 82%);
        background-color: var(--gmail);
      }
    }
    &:nth-child(3) {
      width: 50%;
      align-self: flex-end;
      &.animate {
        border-radius: initial;
        transform: rotate(45deg) translate(-34%, -82%);
        background-color: var(--gmail);
      }
    }
  }
}
