@import "../variables.scss";
nav {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: var(--nav-shadow);
  .links-par {
    display: flex;
    justify-content: space-between;
    width: 60%;
    min-width: 450px;
    .e-commerce-features {
      width: 90%;
      justify-content: space-between;
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      list-style: none;
      position: relative;
      margin: 5px;
      a {
        white-space: nowrap;
        // transition: 0.3s;
        color: inherit;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: capitalize;
        font-size: 0.8rem;
        &.cart-active-link.active {
          color: var(--green);
        }
        &.link {
          &::before {
            transition: 0.5s;
            content: "";
            position: absolute;
            height: 3px;
            top: 120%;
            left: 50%;
            background: var(--wheat);
            width: 0;
          }

          &::after {
            transition: 0.5s;
            content: "";
            position: absolute;
            height: 3px;
            top: 120%;
            right: 50%;
            background: var(--wheat);
            width: 0;
          }

          &:hover:before,
          &.active:before {
            border-bottom-right-radius: 3px;
            width: 50%;
          }
          &:hover:after,
          &.active:after {
            width: 50%;
            border-bottom-left-radius: 3px;
          }
          &.active {
            color: var(--green);
            &.active:before,
            &.active:after {
              width: 50%;
            }
          }
        }
      }
    }
  }
  .nav-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
  }
}

.no-data-fav {
  width: 100%;
  height: calc(100% - 70px);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.8px;
  color: var(--green);
}

.theme {
  width: 30px;
  height: 22px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 2px;
  .toggle-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    svg {
      font-size: 16px;
      position: relative;
      z-index: 15;
      &.sun {
        color: #fdb813;
      }
    }
  }
}

@media (max-width: 700px) {
  nav {
    padding: 0 6px;

    .links-par {
      justify-content: flex-end;
      min-width: initial;
      width: initial;
    }
  }
  .aside-links {
    position: fixed;
    top: 40px;
    width: 100%;
    height: calc(100vh - 40px);
    right: 0;
    background-color: var(--secondary);
    .links {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

      a {
        font-size: 20px;
        &:before,
        &:after {
          content: initial;
        }
      }
    }
  }
}
