nav {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  ul {
    li {
      list-style: none;
      position: relative;
      margin: 5px;
      a {
        transition: 0.3s;
        color: var(--green);
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: capitalize;
        &::before {
          transition: 0.5s;
          content: "";
          position: absolute;
          height: 3px;
          top: 120%;
          left: 50%;
          background: var(--wheat);
          width: 0;
        }

        &::after {
          transition: 0.5s;
          content: "";
          position: absolute;
          height: 3px;
          top: 120%;
          right: 50%;
          background: var(--wheat);
          width: 0;
        }

        &:hover:before,
        &.active:before {
          border-bottom-right-radius: 3px;
          width: 50%;
        }
        &:hover:after,
        &.active:after {
          width: 50%;
          border-bottom-left-radius: 3px;
        }
        &.active {
          color: var(--white);
          &.active:before,
          &.active:after {
            width: 50%;
          }
        }
      }
    }
  }
}
