@import "../variables.scss";
nav {
  width: 100%;
  max-width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  // filter: drop-shadow(var(--forth-shadow));
  .links-par {
    display: flex;
    justify-content: space-between;
    width: 60%;
    min-width: 450px;
    .e-commerce-features {
      width: 90%;
      justify-content: space-between;
    }
  }
  ul {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      list-style: none;
      position: relative;
      margin: 5px;
      a {
        white-space: nowrap;
        transition: 0.3s;
        color: inherit;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: capitalize;
        font-size: 1rem;
        // @include kyiv(600, -400);
        font-family: "PT Sans", sans-serif !important;

        &.cart-active-link.active {
          color: var(--green);
        }
        &.link {
          &::before {
            transition: 0.5s;
            content: "";
            position: absolute;
            height: 3px;
            top: 120%;
            left: 50%;
            background: var(--wheat);
            width: 0;
          }

          &::after {
            transition: 0.5s;
            content: "";
            position: absolute;
            height: 3px;
            top: 120%;
            right: 50%;
            background: var(--wheat);
            width: 0;
          }
          &:hover:not(&.active) {
            color: var(--green);
            opacity: 0.9;
            @include kyiv(400, -1000);
          }
          &.active:before {
            border-bottom-right-radius: 3px;
            width: 50%;
          }

          &.active:after {
            width: 50%;
            border-bottom-left-radius: 3px;
          }
          &.active {
            color: var(--green);
            font-weight: 800;

            &.active:before,
            &.active:after {
              width: 50%;
            }
          }
        }
      }
    }
  }
  .nav-is-auth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 140px;
    margin-left: 10px;
    // margin: 0 15px;
    gap: 5px;
  }
}

.no-data-fav {
  width: 100%;
  height: calc(100% - 70px);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.8px;
  color: var(--green);
}

.theme {
  width: 30px;
  height: 22px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 2px;
  .toggle-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    svg {
      font-size: 16px;
      position: relative;
      z-index: 15;
      &.sun {
        color: #fdb813;
      }
    }
  }
}

@media (max-width: 800px) {
  nav {
    padding: 0 10px;

    .links-par {
      justify-content: flex-end;
      min-width: initial;
      width: initial;
    }
  }
  .aside-links {
    position: fixed;
    top: 40px;
    width: 100%;
    height: calc(100vh - 40px);
    right: 0;
    background-color: var(--secondary);
    z-index: 100;
    .links {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

      a {
        font-size: 20px;
        &:before,
        &:after {
          content: initial;
        }
      }
    }
  }
}

#logo-svg {
  filter: drop-shadow(var(--third-shadow));
}

// .auth-par {
//   width: 60px;
//   justify-content: flex-end;
// }
