@import "../variables.scss";
@import "../globels/mixins";
.newsletter {
  width: 100%;
  background: rgb(153, 136, 104);
  background-image: url(./../assets/Images/newLetterBackground.png);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  min-height: 160px;
  align-items: center;
  position: relative;
  box-shadow: var(--forth-shadow);
  overflow: hidden;

  form {
    display: flex;
    align-items: center;
    width: 50%;
    opacity: 0;
    filter: drop-shadow(var(--third-shadow));
    .inp-parent {
      .err-form {
        text-transform: capitalize;
        color: var(--delete);
      }
    }
    .inp-parent,
    input,
    button {
      height: 40px;
      box-shadow: initial;
    }
    input {
      background-color: var(--main);
      color: var(--third);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      &:focus {
        border-right: 0;
      }
    }
    button {
      outline: 0;
      border: 0;
      padding: 0 14px;
      white-space: nowrap;
      background-color: var(--green);
      color: var(--white);
      border-end-end-radius: 2px;
      border-top-right-radius: 2px;
      font-size: 0.8rem;
      letter-spacing: 0.8px;
      text-transform: capitalize;
    }
  }
  .news-content {
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      text-transform: capitalize;
      color: var(--white);
      @include fexien(120);
      font-weight: 800;
    }
    span {
      font-weight: 700;
      @include fexien(115);
      font-weight: 700;
      letter-spacing: 0.8px;
      &.news-spaecial {
        color: var(--green);
        text-shadow: var(--forth-shadow);
      }
    }
  }
}

@media (max-width: 700px) {
  .newsletter {
    flex-direction: column;
    padding: 20px 0;

    .news-content {
      width: 100%;

      h2 {
        text-align: center;
      }
      span {
        text-align: center;
        width: 100%;
      }
    }
    form {
      width: 95% !important;
      .inp-parent {
        width: 100% !important;

        input {
          width: 100%;
        }
      }
      button {
        padding: 0 12px;
        font-size: 1rem;
      }
    }
  }
}
