@import "../variables.scss";

.table-par {
  width: 90%;
  overflow-y: auto;
  margin: 0 auto;
  min-height: 80vh;
}
table.order {
  position: relative;
  width: 100%;
  min-width: 600px;
  max-width: 800px;
  border-spacing: 0.4px;
  color: var(--third);
  margin: 0 auto;
  margin-bottom: 40px;
  overflow: hidden;
  overflow-y: initial;
  > * {
    font-weight: bold;
  }
  th {
    height: 40px;
    background: var(--sale);
    color: var(--white);
    padding: 2px;

    text-transform: capitalize;
    font-size: 1.2rem;
  }
  tr {
    height: 20px;
    text-align: center;
    &:nth-child(odd) {
      background: rgba(0, 0, 0, 0.08);
    }
  }
}
.order-del-par {
  height: 1.4rem;
  width: 100%;
  min-width: 600px;
  max-width: 800px;
  margin: 0 auto;
}
.delete-order {
  color: var(--delete);
  svg {
    font-size: 1.4rem !important;
  }
}

.mobile-order-par {
  display: flex;
  flex-direction: column;
  gap: 40px !important;
  margin: 10px;
  .order-date {
    margin: 0;
  }

  .order-mobile {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: var(--secondary);
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-shadow: var(--main-shadow);
    position: relative;
    border-radius: 5px;
    justify-content: center;
    padding: 0 10px;
    .mobile-order-title {
      font-weight: bold;
      font-size: 1.2rem;
      gap: 8px;
      display: flex;
      align-items: center;
      width: 80%;
      min-width: 260px;

      .mobile-order-id {
        font-weight: normal;
        color: var(--twitter);
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        width: 80%;
        max-width: 340px;
      }
    }
  }
}

.order-state {
  padding: 4px;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: var(--white);
  border-radius: 4px;
  text-transform: capitalize;
}

.order-date {
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: capitalize;
  margin-left: -12px;
}
.date {
  display: inline-block;
  font-weight: bold;
  margin-top: 3px;
  color: var(--white);
}

.order-delete-mobile {
  position: absolute;
  top: 12px;
  right: 10px;
  color: var(--delete);
}

.order-drop {
  position: absolute;
  top: 20px;
  right: -3px;
  width: 90px;
  background: var(--main);
  z-index: 100;
  padding: 4px;
  font-size: 0.8rem;
  &.notification-actions {
    width: 160px !important;
    font-size: 10px;
    .order-link {
      padding: 2px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: -16px;
    right: 0;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent var(--wheat) transparent;
  }
}

.order-link {
  padding: 2px 20%;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.7px;
  span :not(:last-child) {
    display: inline-block;
    border-bottom: 0.4px solid var(--secondary);
  }
}

.order-state-par {
  width: 70px;
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  margin-left: -8px;
}

.mobile-order-details {
  &.underline {
    &:before {
      background: var(--sale);
    }
  }
}
.table-order-detail {
  grid-area: tabl;
  background-color: var(--main);
  text-align: center;
  vertical-align: middle;
  border-spacing: 0;
  th {
    color: var(--white);
    background: var(--sale);
    height: 40px;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: 0.8px;
  }
  td {
    color: var(--third);
    height: 30px;
    font-weight: 600;
    &:first-child {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      padding: 10px;

      .table-order {
        width: 20vw !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: start;
      }
    }
  }
}

.customer {
  display: grid;
  grid-area: cust;
  margin-top: 12px;
  background: var(--main);
  padding: 12px;

  color: var(--third);

  h2 + .hr {
    margin-top: 6px;
  }
  h2 {
    text-transform: capitalize;
    color: var(--sale);
    text-shadow: var(--forth-shadow);
    padding: 12px 0;
  }
}
.order-detail {
  height: 30px;

  span:first-child {
    font-weight: bold;
    text-transform: capitalize;
  }
}

.order-detail-par {
  svg {
    margin-left: 10px;
  }
}

.order-details-grid {
  display: grid;
  gap: 4px 8px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "tabl  summ"
    "cust  summ";
  .order-summery {
    grid-area: summ;
    padding: 15px;
    color: var(--third);
    height: fit-content;
    background: var(--main);

    align-self: flex-start;
    .header {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 800px) {
  .order-details-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "tabl"
      "cust"
      "summ";
    gap: 10px;

    .table-order-detail {
      font-size: 0.7rem;
      td {
        .table-order {
          width: 10vw !important;
        }
      }
    }
  }
  .mobile-order-par .order-mobile {
    .mobile-order-title {
      width: 85%;
      .mobile-order-id {
        font-size: 1rem;
      }
    }
  }
}
