@import "../variables.scss";

.products-par {
  //-remove margin top

  margin-top: 60px;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.head-product.heading {
  width: fit-content;
  margin: 30px auto;
  font-size: 2rem;
  padding-bottom: 30px;
}

aside {
  // position: absolute;
  // top: 0;
  // left: 0;
  font-size: 1rem;
  padding: 15px;
  width: 200px;
  height: 100%;
  // background: wheat;
  .aside-head {
    justify-content: space-between;
  }
}

.filter-icon {
  gap: 5px;
}

.collapse-par {
  gap: 6px;

  .btn-collapse {
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 1rem;
  }
}

.filter-head {
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  margin-top: 6px;
  margin-bottom: 10px;
}

.category-par {
  gap: 5px;
  flex-direction: column;
  width: 100%;
  h4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .filter-head {
    align-self: flex-start;
  }
  .category {
    width: 100%;
    text-transform: capitalize;
    letter-spacing: 0.8px;
    justify-content: flex-start;
    gap: 8px;
    font-size: 1rem;
    padding-left: 10px;
  }
}
.rate-filter-par {
  padding-left: 10px;

  .rate-filter {
    display: inline-flex;
    width: 100%;
    text-transform: capitalize;
    letter-spacing: 0.8px;
    justify-content: flex-start;
    gap: 1px;
    font-size: 1rem;
    transform: scale(0.9);
  }
}
.price-filter {
  display: flex;
  flex-direction: column;
  input {
    accent-color: var(--wheat);
    height: 4px;
  }

  p {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 8px;
    color: var(--green);
  }
}

.product-list-par {
  // min-width: 400px;
  // max-height: 400px;
  width: calc(100% - 200px - 20px);
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  position: relative;

  .product-List {
    position: relative;

    padding: 5px;
    width: 200px;
    display: flex;
    height: 250px;
    flex-direction: column;
    background: var(--white);
    box-shadow: 1px 1px 3px black;
    gap: 1px;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 0.2px 0.5px 0.8px black;
    transition: 0.3s;
    &:hover {
      box-shadow: 2px 2px 5px black;
    }

    .category-card {
      color: var(--green);
      letter-spacing: 0.8px;
    }
    .title-product {
      display: inline-block;
      letter-spacing: 1px;
      color: rgb(32, 115, 210);
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
      width: 95%;
      white-space: nowrap;
    }
    .price-product {
      font-weight: bold;
      font-size: 1.2rem;
      color: var(--wheat);
      background: #12882e2a;
      display: inline-block;
      padding: 2px;
      border-radius: 4px;
      margin-top: 4px;
    }
    .img-par {
      width: 100px;
      height: 120px;
      margin-bottom: 4px;
      overflow: hidden;
      padding: 4px;
      img {
        transition: 0.5s;
        width: 90%;
        filter: drop-shadow(2px 2px 3px black);
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
    .product-rate-filter {
      transform: scale(0.85);
      margin-top: -2px;
      margin-left: 5px;
      margin: 0 auto;
      font-size: 10px;
      width: 90%;
    }
  }
}

.heart-filter {
  position: absolute;
  top: 5px;
  right: 5px;
}

svg.svg-star {
  filter: drop-shadow(0.2px 0.5px 0.8px black);
  margin: 0.2px;
}

.shadow {
  filter: drop-shadow (0.2px 0.5px 0.8px black);
  text-shadow: 0.2px 0.5px 0.8px black;
}

.box-shadow {
  box-shadow: 0.2px 0.5px 1px black;
}

.product-btn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.product-state {
  position: absolute;
  top: 10px;
  left: 0;
  width: fit-content;
  height: 25px;
  padding: 0 10px;
  color: white;
  border-end-end-radius: 4px;
  letter-spacing: 0.8px;
}

.new {
  background: var(--new);
}
.sale {
  background: var(--sale);
}

.exclusive {
  font-size: 0.8rem;
  background: #000;
}
.limited {
  font-size: 0.8rem;
  background: var(--limited);
}

.pages-par {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  gap: 20px;
  cursor: pointer;
  .page {
    width: 15px;
    height: 15px;
    background: var(--green);
    color: white;
    transition: 0.3s;
    &.page-active {
      transform: scale(1.2);
    }
  }
}

.product-links {
  margin-top: 6px;
  gap: 20px;
  button {
    font-size: 0.8rem;
    &.details {
      background: grey;
    }
  }
}
