@import "../variables.scss";
@import "../globels/classes.scss";
.slide-bottom {
  background: var(--white);
  width: 350px;
  align-self: flex-end;
}
.clear-all {
  height: 120px;
}
.pop-head {
  margin: 10px;
  color: black;
}
.slide-par {
  width: 240px;
  height: 40px;
  border-radius: 20px;
  justify-content: flex-start;
  margin-bottom: 10px;
  position: relative;
}
.slide {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  // margin-left: 2px;
  font-size: 20px;
  background: #000;
  position: relative;
  z-index: 100;
}
.slide-text {
  color: var(--white);
  position: absolute;
  text-transform: capitalize;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-rate-pop {
  width: 350px;
  height: 200px;
  background: var(--white);
}

.rate-form {
  width: 80%;
  margin: 0 auto;
  height: 40px;
  .rate-inp {
    border-radius: 10px;
    width: 100%;
    background: #000;
    color: white;
    padding: 5px;
    letter-spacing: 0.8px;
  }
}

.update-user-slide {
  background: var(--white);
  height: 200px;

  form {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 12px;
  }
  .inp-parent {
    margin: 10px auto;
  }
  & input {
    margin: 0 auto;
    color: white;

    background: black;
  }
}

.confirmed {
  // transform: scale(1.5);
  color: var(--green);
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: capitalize;
}

.scale {
  transform: scale(1.4);
  margin-bottom: 5px;
}

.password {
  height: 280px !important;
  .err-form {
    transform: scale(0.9);
  }
}
