@import "../variables.scss";

.sort-par {
  gap: 2%;
  width: 100%;
  padding: 0 20px;
  position: relative;

  .view-opt {
    gap: 1.5vw;
    font-weight: bold;
  }
  .hide-filter-par {
    button {
      border: 0;
      outline: 0;
      font-size: 0.9rem;
      letter-spacing: 1px;
      gap: 4px;
      background: transparent;
      padding: 4px;
      font-weight: bold;
      white-space: nowrap;
      svg {
        fill: var(--third);
      }
    }
  }
  .view-type {
    width: 80px;
    gap: 10px;

    font-size: 1.2rem;

    .view-icon {
      transition: 0.3s;
      &.shadow {
        filter: drop-shadow(0.5px 1.5px 1px black);
      }
    }
  }

  .view-par {
    display: flex;

    gap: 6px;
  }
}

.sort-hr {
  position: absolute;
  top: 120%;
  left: 2%;
  height: 1px;
  opacity: 0.5;
  width: 96%;
}

.search {
  // width: 50%;
  position: relative;
  background: var(--secondary);
  box-shadow: var(--third-shadow);

  .btn-search {
    border: 0;
    outline: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    z-index: 2;
  }

  input {
    border: 0;
    outline: 0;
    width: calc(100% - 30px);
    height: 30px;
    border-radius: 5px;
    padding-right: 10px;
    color: var(--white);
    letter-spacing: 0.8px;
    font-size: 0.9em;
    font-weight: 700;
    background-color: transparent;
    &:focus {
      border: initial;
    }
  }
  .search-icon {
    font-size: 12px;
    color: var(--white);
  }

  .dropdown-search {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    width: 100%;
    z-index: 100;
    list-style: none;
    z-index: 4;
    gap: 2px;
    color: var(--white);
    border-radius: 5px;
    padding: 2px 0;
    .search-res {
      padding: 5px;
      transition: 0.3s;
      width: 100%;
      height: 30px;

      cursor: pointer;
      &.active {
        background: var(--wheat-light);
      }
    }
  }
}
