.log-in {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 20px;
  overflow: hidden;
  .header {
    margin-bottom: 0;
    letter-spacing: 2px;
  }
  .redirect {
    color: var(--white);
    letter-spacing: 1.1px;
    a {
      display: inline-block;
      font-size: 1rem;
      text-decoration: underline;
      text-decoration-color: var(--wheat);
      color: var(--green);
      margin-left: 6px;
      transition: 0.3s;
      text-transform: capitalize;
      font-weight: bold;
      &:hover {
        color: var(--wheat);
        text-decoration-color: var(--green);
        cursor: pointer;
      }
    }
  }
  .google-log {
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    justify-content: flex-start;
    gap: 20px;
    box-shadow: var(--third-shadow);
    text-transform: capitalize;
    font-weight: bold;
    color: var(--wheat);
    letter-spacing: 1px;
    cursor: pointer;
    white-space: nowrap;
  }
  form {
    background: var(--secondary);
    width: 50vw;
    max-width: 300px;
    min-width: 260px;
    height: fit-content;
    padding: 40px 0;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 0.5px 0.5px 2px black;

    // gap: 10px;
    gap: 25px;
    overflow: hidden;

    input {
      height: 30px;
      padding-right: 20px;
      background-color: var(--main);
      box-shadow: var(--third-shadow);
      border-radius: 5px;
      color: var(--third);
    }
    button {
      height: 30px;

      margin: 0 auto;
    }
  }
}

.or {
  position: relative;
  top: 10px;
  span {
    background-color: var(--secondary) !important;
  }
}

.inp-parent {
  position: relative;
  width: 80%;
  input {
    width: 100%;
  }
  .placeholder {
    position: absolute;
    color: var(--main);
    text-transform: capitalize;
    letter-spacing: 0.8px;
    transform: translateY(-50%);
    padding: 1px 4px;
    font-weight: bold;
    font-size: 0.8rem;
    &.placeholder-center {
      left: 5px;
      color: var(--wheat);
    }
    &.placeholder-top {
      left: 5px;
      color: var(--white);
      text-shadow: 1px 0.5px 1px black;
      transform: translateY(-50%);
      background: var(--trending);
      border-radius: 2px;
      border-right: 2px solid var(--sale);
      border-left: 2px solid var(--sale);
    }
  }
  .inp-controls {
    position: absolute;
    right: 5px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row-reverse;
    .x-inp {
      font-size: 1.2rem;
      color: var(--gmail);
      cursor: pointer;
    }
    .pass-inp {
      font-size: 1.2rem;

      svg {
        position: relative;
        z-index: 4;
        color: var(--wheat-light);
      }
    }
  }
}

.err-form {
  display: inline-block;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 105%;
  left: 0;
  color: var(--gmail);
  font-weight: bold;
  font-size: 0.8rem;
  text-shadow: var(--third-shadow);
}

input:focus {
  &:focus {
    border: solid var(--green) 2px;
  }
}
